config MTK_MC34XX
	tristate "MC34XX for MediaTek package"
	default n
	help
	  It support different accelerometer sensor.
          If this option is set,
	  it will support
          MC34XX Accelerometer.
